@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/*
.hero {
  align-items: center;
  background-image: url("../images/main-background.jpeg");
  background-size: cover;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(28, 162, 230, 0.3);
}
*/
/* Header and navigation */

header {
  background:rgba(28, 162, 230, 0.2);
  margin: 0;
  top: 0;
}

nav,
ul,
li {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  align-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 10vh;
  min-height: 50px;
}

.nav-link {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 15px 20px 10px;
  text-decoration: none;
  color: #ffffff;
}






/* main section */

main {
  width: 100%;
}
 
h1 {
  font-size: 5.5vw;
}

h2 {
  font-size: 2vw;
}

p.intro {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2em;
  text-align: left;
  margin-left: 20vw;
  height: 10vh;
}

#name {
  text-align: center; 
  color: #000;
  height: 30vh;
  margin: 5rem 0 0;
  border: 1px solid black;
}

#title {
  font-weight: 400;
  text-align: center;
  margin: 100px 0;
  color: #000;
  border: 1px dotted black;
}


div.social-container {
  display: inline-flex; 
}

.social-icon {
  background: #fff;
  border: 2px solid blue;
  border-radius: 10%;
  height: 2.5em;
  margin: 1em;
  padding: 3px;
}

@media only screen and (max-width: 800px) {
  p.intro {
    font-size: 1em
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.3em;
    margin-top: -1em;
  }
}