@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}


html, body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  color: rgba(13, 7, 66, 1)
}

.hero {
  align-items: center;
  background-image: url("../images/main-background.jpeg");
  background-size: cover;
  height: 90vh;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  color: rgba(13, 7, 66, 1);
  margin-top: -34px;             /* TODO: find the gap */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(to bottom,
  rgba(0, 89, 255, 0.15),
  rgba(255, 160, 0, 0.15),
    rgba(255, 255, 0, 0.15),
    rgba(14, 230, 25, 0.15)
    );
}

#page-container {
  position: relative;
  min-height: 100vh;
}


/* Header, Footer, and Navigation */


nav {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-nav {
  align-content: center;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 10vh;
  min-height: 60px;
  width: 95%;
}

.main-header,
footer {
  background:rgba(28, 162, 230, 0.3);
}

header p:first-of-type {
  padding-right: 10vw;
}

.nav-footer {
  width: 100%;
  justify-content: center;
}

.nav-container {
  height: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-link-container {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.text-link {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  /* padding: 30px 0 10px; */
  text-decoration: none;
  padding: 18px 15px;
}

.text-link:hover {
  color: #ffffff;
  background:rgb(28, 163, 230, 0.6);
  /* border: 1px solid rgba(13, 7, 66, .6); */
  border-radius: 30px;
  padding: 18px 15px;
  transition: color 300ms ease-in-out 50ms,
    background 300ms ease-in-out 50ms,
    /* border 400ms ease-in, */
    border-radius 500ms ease-in-out 50ms,
    margin-left 0ms,
    padding 0ms ease-in-out;
}

.social-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.social-icon {
  background: #fff;
  border: 1px solid rgb(28, 163, 230); 
  border-radius: 10%;
  height: 2.5em;
  margin: 1em 0.5em;
  padding: 3px;
}

.social-icon:hover {
  transform: scale(1.2);
  border: 1px solid rgb(23, 230, 0);
  transition: 500ms;
}

.copyright p {
  font-size: .8em;
  letter-spacing: 0.8px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.copyright p:first-of-type {
  padding-bottom: 0;
  
}

.credit {
  text-align: center;
  font-size: 0.6em;
  padding-bottom: 1em;
}

.credit a {
  color: rgba(13, 7, 66, 1);
}

.credit a:hover {
  color: rgb(255, 126, 25);
}

/* main section */

main {
  width: 100%;
}
 
h1 {
  font-size: 5.5vw;
}

h2 {
  font-size: 2vw;
}

h4 {
  font-size: 2rem;
  margin: 10px;
}

p.intro {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2em;
  text-align: left;
  margin-left: 20vw;
  height: 10vh;
  padding-top: 10vh
}

.name {
  height: 30vh;
}

.title {
  font-weight: 400;
  margin: 0;
  height: 10vh;
}


/* Project Section */

.project-container {
  background: rgba(13, 7, 66, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
}

.project-banner {
  color: #fff;
  text-align: center;
  width: 100%;
}

.project-card {
  background:rgb(28, 163, 230);
  margin: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  width: 50vw;
}

.project-card:last-of-type {
  margin-bottom: 9vh;
}

.project-card h4 {
  padding: 1vh;
}

#projects {
  width: 100%;
  font-size: 4rem;
  padding: 40px;
}

img.screenshot {
  width: 20vw;
  height: auto;
}

img.screenshot:hover {
  transform: scale(1.15);
  transition: 300ms;
  border: 2px solid #ffffff;
}

.code-button {
  border-radius: 30px;
  padding: 10px;
  margin: 15px 0;
}

.code-button:hover {
  background-color:rgba(14, 230, 25, 0.1);
  border: 2px double rgb(23, 230, 0);
  font-size: 1.3em;
  padding: 8px 50px;
  transition: 
    border 300ms ease-in-out 50ms,
    background-color 300ms ease-in,
    font-size 300ms ease-out 50ms,
    padding 150ms ease-in-out 50ms;
}

a.code-link {
  text-decoration: none;
  color: black;
}

a.code-link:hover {
  color: white;
  transition: 300ms;
}


/* Contact Page styling */

.contact-container {
  background-image: linear-gradient(to bottom,
  rgba(0, 89, 255, 0.6),
    rgba(13, 7, 66, 1));
    height: 100vh;
    color: rgba(186, 227, 247, 1);
}

.header-container {
  background: rgba(28, 162, 230, 0.3);
  border-bottom: 2px ridge rgba(13, 7, 66, 1);
  max-height: 200px;
  display: flex;
  align-content: center;
}

.header-container a {
  color:rgba(13, 7, 66, 1);
  align-items: center;
}

#logo {
  font-family: "Kaushan Script", 'Courier New', Courier, monospace;
  margin: auto;
  padding-left: 1em;
  font-size: 4vw;
}

.nav-alt {
  margin-right: 20px;
}

.contact-main {
  margin: 2.5vh auto;
}

.contact-info-outer {
  height: 70vh;
  width: 90%;
  /* background-color:rgba(13, 225, 255, 0.5); */
  /* background: rgba(13, 255, 13, 0.7); */
  background: rgb(13, 7, 66);
  border-radius: 10px; 
  margin: auto;
  border: 3px ridge rgba(0, 89, 255, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.email-contact {
  text-decoration: none;
  color: rgb(250, 13, 123);
  font-size: 1.6em;
}

.email-contact:hover {
  color: rgb(13, 255, 134);
}


/* About Me section */

.about-container {}

.image-container {
  width: 80%;
  display: inline-flex;
  margin-top: 1vh;
}

#myImage {
  width: 20vw;
  border-radius: 50%;
  max-width: 300px;
}

.about-intro {
  margin-left: 30px;
}

.about-info-outer {
  /* display: inline-flex; */
background-image: linear-gradient(to bottom,
  rgba(0, 89, 255, 0.6),
    rgba(13, 7, 66, 1));
    height: 100%;
    color: rgba(186, 227, 247, 1);
    padding: 3vw;
    line-height: 1.4;
}

.about-text-container {
  width: 60%;
  margin: auto;
}

.goal {
  font-size: larger;
  font-weight: 700;
  padding: 2vh 0;
}

.about-link {
  color: rgb(250, 177, 90);
}

.about-link:hover {
  color:rgb(13, 255, 134);
}

.history {
  margin-top: 6vh;
}

article h3 {
  margin-bottom: 0;
}



/* Responsive display settings */

@media only screen and (max-width: 800px) {
  .header-nav {
    transform: scale(0.6);
    padding-bottom: 20px;
    justify-content: space-around;
    width: 100%;
  }
  header p {
    font-size: 1.5em;
  }
  p.intro {
    font-size: 1em
  }
  .title {
    color: #ffffff;
  }
  h1 #contact{
    font-size: 3em;
  }
  h2,  {
    font-size: 1.3em;
    margin: 0;
  }
  h4 {
    font-size: 1.2em;
  }
  img.screenshot {
    width: 30vw;
  }
  #projects {
    font-size: 3em;
    padding-top: 10vh;
  }
  .nav-container {
    transform: scale(0.8);
    height: 10vh;
    width: 80vw;
    justify-content: space-around;
    flex-flow: column wrap;
  }
  #logo {
    font-size: 50px;
    padding-left: 0;
  }

}



@media only screen and (max-width: 530px) {
  header p:first-of-type {
    padding-right: 1vw;
  }
  .header-nav {
    flex-flow: column wrap;
  }
  p.intro {
    padding-top: 50px;
  }
  .title {
    padding-top: 40px;
  }
  #projects {
    padding-top: 50px;
  }
  img.screenshot:hover {
    transform: scale(1.2);
    transition: 200ms;
  }
  .code-button:hover {
    font-size: 1em;
    width: 100%;
    padding: 8px;
  }
  .code-link:hover {
    font-size: 1em;
  }
  .text-link {
    padding: 0 10vw;
  }
  .text-link:hover {
    padding: 1.5vh 10vw;
  }
  .social-icon {
    margin: 0 20px;
  }
  .nav-alt {
    transform: scale(0.6);
    justify-self:;
  }
  .contact-info-outer {
    transform: scale(0.9);
    padding: 20px;
  }
  .email-contact {
    transform: scale(0.6)
  }
  .nav-footer {
    width: 300px;
    margin: auto;
    height: 17vh;
  }
  .nav-container {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
  }
}

@media only screen and (max-width: 590px) {
  #logo {
    visibility: hidden;
  }
}
@media only screen and (max-height: 400px) {
  #title {
    padding-top: 100px;
  }
  .email-contact {
    font-size: 10px;
  }
}
@media only screen and (max-width: 330px) {
  .project-card h4 {
    font-size: 1em;
    text-align: center;
    padding: 0;
  }
}



